<!-- Carousel
================================================== -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <!-- http://www.wallmoy.com/wp-content/uploads/2015/02/new_york_city_wallpaper_good.jpg -->
      <img src="icons/nyc_carousel.jpg" alt="First slide">
      <div class="container">
        <div class="carousel-caption">
          <h1>New York City</h1>
          <p>Looking for a weekend away in the big city? Whether you want to offer a ride or find one, RideShare is here for you!</p>
          <p><a class="btn btn-lg btn-info" href="/nyc" role="button">Rides to NYC!</a></p>
        </div>
      </div>
    </div>
    <div class="item">
      <!-- http://www.mrwallpaper.com/wallpapers/airplane-flight-sunset-1920x1080.jpg -->	
      <img src="icons/airplane_carousel.jpg" alt="Second slide">
      <div class="container">
        <div class="carousel-caption">
          <h1>Bradley Int'l Airport</h1>
          <p>Planning a trip involving air travel soon?  Check out if you can join or post a car pool to save money and the planet!</p>
          <p><a class="btn btn-lg btn-info" href="/bradley" role="button">Rides to Bradley!</a></p>
        </div>
      </div>
    </div>
    <div class="item">
      <!-- http://cdn.phillymag.com/wp-content/uploads/2014/04/Woman-With-Shopping-Bags.jpg -->
      <img src="icons/shop_carousel.jpg" alt="Third slide">
      <div class="container">
        <div class="carousel-caption">
          <h1>Holyoke Mall</h1>
          <p>Need to go shopping? Whether you want to offer a ride or find one, RideShare is here for you. Happy Shopping! </p>
          <p><a class="btn btn-lg btn-info" href="/holyokeMall" role="button">Rides to the mall!</a></p>
        </div>
      </div>
     </div>
    </div>
  </div>
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div><!-- /.carousel -->