<!-- views/partials/panel.ejs -->
<div class="container-fluid scroll">
  <div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title">
        Ride Destination
      </h3>
      </div>
        <div class="panel-body">
          <!-- List group -->
          <ul class="list-group">
            <li class="list-group-item"><strong>Origin</strong>: <%= title %></li>
            <li class="list-group-item"><strong>Destination: </strong> Mount Holyoke College</li>
            <li class="list-group-item"><strong>Date: </strong> 24th April, 2015</li>
            <li class="list-group-item"><strong>Time: </strong> 11:30pm</li>
            <li class="list-group-item"><strong>Seats Available: </strong>2</li>
            <li class="list-group-item"><strong>Flexibility: </strong>+ 3 hours</li>
            <li class="list-group-item"><strong>Offered By: </strong>Casey Acardi</li>
<<<<<<< HEAD
          </ul>
=======
          </ul>		
>>>>>>> bec79f67cb528b64b60869e9a8aeddad7059106d
        </div>
      </div>
    </div>
  </div> <!-- /.panel -->
</div>
