<head>
    <% include ../partials/head %>
</head>
<body>
    <header>
        <% include ../partials/header %>
    </header>

    <main>

        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">RideShare</h2>
                    <img class="img" src="icons/peoplecar.png" alt="Boston Photo" width="450" height="200"/><br><br>
                    <p class="lead"><em>RideShare</em> is an online platform to share and find rides to key destinations around the Pioneer Valley.<br><br><em>RideShare</em> has been created by Mount Holyoke Students.</p>
                </div>

                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <div class="clearfix"></div>
                    <br><br><br><br><br><br><br>
                    <div class="span4">

                        <div class="media">
                            <a class="pull-left" href="#">
                                <img class="media-object" src="icons/check.png">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading">Request Rides</h4>
                                Find posted rides that work for your schedule to request the ride.
                            </div>
                        </div>
                        <div class="media">
                            <a class="pull-left" href="#">
                                <img class="media-object" src="icons/check.png">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading">Post Rides</h4>
                                Traveling somewhere? Share your ride on RideShare 
                            </div>
                        </div>
                        <div class="media">
                            <a class="pull-left" href="#">
                                <img class="media-object" src="icons/check.png">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading">Search Rides</h4>
                                Browse different rides to plan your journey
                            </div>
                        </div>
                    </div><!-- /.span4 -->
                </div>
            </div>
        </div>
    </main>
    <footer>
        <% include ../partials/footer %>
    </footer>
</body>