<!-- views/pages/profile.ejs -->
<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
    <title><%= title %></title>
  </head>
  <body>
    <header>
      <% include ../partials/header %>
    </header>
    <br/><br/>
    <h1>Admin Dashboard</h1>

    <!--<div>Make changes to the website</div><br>-->

      <p><a href="/admin/users">Activate/Deactivate/Remove Users</a></p>

      <p><a href="/admin/locations">Add/Edit/Remove Locations</a></p>

      <p><a href="/admin/addlocation">Add a New Location</a></p>

      <p><a href="/admin/rides">View/Remove Rides</a></p>
      

    <footer>
        <% include ../partials/footer %>
    </footer>
  </body>
</html>