<!-- views/pages/profile.ejs -->
<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
    <title><%= title %></title>
  </head>
  <body>
    <header>
      <% include ../partials/header %>
    </header>
    <h1>Admin Dashboard</h1>

    <div> Make changes to the website</div><br>

      <p><a href="/admin/adduser">Add New Users</a></p>

    <p><a href="/">Logout</a></p>
  </body>
</html>