<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../partials/header %>
        <!--<link rel="shortcut icon" type="image/png" src="icons/extremelySmallCar.png" />-->
        <link type="text/css" rel="stylesheet" href="carousel.css"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    </head>
    <body class="container">

        <header>
            <% include ../partials/head %>
        </header>

        <main>
            <div class="jumbotron">
                <h1>Request or Share a Ride</h1>
                <p></p>
                <div>
                    <% include ../partials/carousel %>
                </div>
            </div>
        </main>

        <footer>
            <% include ../partials/footer %>
        </footer>
    </body>
</html>
