<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../partials/head %>
    </head>
    <body>

        <header>
            <% include ../partials/header %>
        </header>

        <main>
            <div>
                <div>
                  <% include ../partials/carousel %>
                </div>
                <div style="text-align: center">
                <h2>
                <button class="btn btn-default btn-lg"><span class="network-name">
                  <a href="/riderequest">Request or Share a Ride</a>
                </button>
                </h2>
                </div>
                <p></p>
            </div>
        </main> 

        <footer>
            <% include ../partials/footer %>
        </footer>
    </body>
</html>
