<!-- views/pages/destination.ejs -->

<!DOCTYPE html>
<html class = "full" lang="en">
  <head>
      <% include ../partials/head %>
  </head>

  <body class="container">
    <header>
      <% include ../partials/header %>
    </header>

    <main>
      <p>\n\n\n\nHELLO RIDE-SHARING</p>
      <p>RideShare | <%=title %></p>
      <div style="text-align:center">
        <a href="/listView">List View</a>
        <a href="/calendarView">Calendar View</a>
      </div>
      <p>RideShare | <%=title %></p>  
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>
  </body>
</html>
