 <head>
    <% include ../partials/head %>
</head>
<body>
<header>
    <% include ../partials/header %>
</header>

<main>
<div class="container">
    <div class="row">
        <div class="col-lg-5 col-sm-6">
            <hr class="section-heading-spacer">
            <div class="clearfix"></div>
            <h2 class="section-heading col-md-offset-12">Locations</h2><br>
            <div class="container">
                <div class="row-fluid">
                    <div class="row">
                        <div class="col-lg-3">
                            <figure>
                                <img class="img-circle" src="icons/boston.png" alt="Boston Photo" width="200" height="200"/>
                                <figcaption style="text-align:center; width:200px">Boston</figcaption>
                            </figure>
                        </div>
                        <div class="col-lg-3">
                            <figure>
                                <img class="img-circle" src="icons/mhc.png" alt="MHC Photo" width="200" height="200">
                                <figcaption style="text-align:center; width:200px">Mount Holyoke College</figcaption>
                            </figure>
                        </div>
                        <div class="col-lg-3">
                            <figure>
                                <img class="img-circle" src="icons/nyc.png" alt="NYC photo" width="200" height="200">
                                <figcaption style="text-align:center; width:200px">New York City</figcaption>
                            </figure>
                        </div>
                        <div class="col-lg-3">
                            <figure>
                                <img class="img-circle" src="icons/bradley.png" alt="Bradley photo" width="200" height="200">
                                <figcaption style="text-align:center; width:200px">Bradley Airport</figcaption>
                            </figure>
                        </div>
                    </div>
                    <br><br>
                    <div class="row">
                        <div class="col-lg-3">
                            <figure>
                                <img class="img-circle" src="icons/springfield.png" alt="Springfield photo" width="200" height="200">
                                <figcaption style="text-align:center; width:200px">Springfield</figcaption>
                            </figure>
                        </div>
                        <div class="col-lg-3">
                            <figure>
                                <img class="img-circle" src="icons/smith.png" alt="Smith College photo" width="200" height="200">
                                <figcaption style="text-align:center; width:200px">Smith College</figcaption>
                            </figure>
                        </div>
                        <div class="col-lg-3">
                            <figure>
                                <img class="img-circle" src="icons/umass.png" alt="UMass photo" width="200" height="200">
                                <figcaption style="text-align:center; width:200px">UMass Amherst</figcaption>
                            </figure>
                        </div>
                        <div class="col-lg-3">
                            <figure>
                                <img class="img-circle" src="icons/holyokeMall.png" alt="Holyoke Mall photo" width="200" height="200">
                                <figcaption style="text-align:center; width:200px">Holyoke Mall</figcaption>
                            </figure>
                        </div>
                    </div>
                    <br>
                    <div class="row" style="text-align:center">
                        <h2 class="section-heading"> ..and more!</h2>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
</main>
<footer>
    <% include ../partials/footer %>
</footer>
</body>