<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>RideShare</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/landing-page.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand topnav" href="#">RideShare</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#home">Home</a>
                    </li>
                    <li>
                        <a href="#about">About</a>
                    </li>
                    <li>
                        <a href="#locations">Locations</a>
                    </li>
                    <li>
                        <a href="#contact">Contact Us</a>
                    </li>
                    
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>


    <!-- Header -->
    <a name="home"></a>
    <div class="intro-header">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>RideShare</h1>
                        <h3>Share and post rides around Pioneer Valley</h3>
                        <hr class="intro-divider">
                        <ul class="list-inline">
                            <li>
                                <button class="button-login btn"><a href="/auth/facebook"><img src="icons/signin-with-facebook.png" width="200" height="44"></a></button>
                            </li>
                            <li>
                                <button class="button-login"><a href="/auth/google"><img src="icons/signin-with-google.png" width="200" height="44"></a></button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

    <!-- Page Content -->
    <a name="about"></a>
    <div class="content-section-a">

        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">RideShare</h2>
                    <img class="img" src="icons/peoplecar.png" alt="Boston Photo" width="450" height="200"/><br><br>
                    <p class="lead"><em>RideShare</em> is an online platform to share and find rides to key destinations around the Pioneer Valley.<br><br><em>RideShare</em> has been created by Mount Holyoke Students.</p>
                </div>

                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <div class="clearfix"></div>
                    <br><br><br><br><br><br><br>
                    <div class="span4">

                        <div class="media">
                            <a class="pull-left" href="#">
                                <img class="media-object" src="icons/check.png">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading">Request Rides</h4>
                                Find posted rides that work for your schedule to request the ride.
                            </div>
                        </div>
                        <div class="media">
                            <a class="pull-left" href="#">
                                <img class="media-object" src="icons/check.png">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading">Post Rides</h4>
                                Traveling somewhere? Share your ride on RideShare 
                            </div>
                        </div>
                        <div class="media">
                            <a class="pull-left" href="#">
                                <img class="media-object" src="icons/check.png">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading">Search Rides</h4>
                                Browse different rides to plan your journey
                            </div>
                        </div>
                    </div><!-- /.span4 -->
                </div>
            </div>
        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <a  name="locations"></a>
    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Locations</h2>
                    <div class="container">
                        <div class="row-fluid">
                            <div class="row">
                                <div class="col-lg-3">
                                    <figure>
                                        <img class="img-circle" src="icons/boston.png" alt="Boston Photo" width="200" height="200"/>
                                        <figcaption style="text-align:center; width:200px">Boston</figcaption>
                                    </figure>
                                </div>
                                <div class="col-lg-3">
                                    <figure>
                                        <img class="img-circle" src="icons/mhc.png" alt="MHC Photo" width="200" height="200">
                                        <figcaption style="text-align:center; width:200px">Mount Holyoke College</figcaption>
                                    </figure>
                                </div>
                                <div class="col-lg-3">
                                    <figure>
                                        <img class="img-circle" src="icons/nyc.png" alt="NYC photo" width="200" height="200">
                                        <figcaption style="text-align:center; width:200px">New York City</figcaption>
                                    </figure>
                                </div>
                                <div class="col-lg-3">
                                    <figure>
                                        <img class="img-circle" src="icons/bradley.png" alt="Bradley photo" width="200" height="200">
                                        <figcaption style="text-align:center; width:200px">Bradley Airport</figcaption>
                                    </figure>
                                </div>
                            </div>
                            <br><br>
                            <div class="row">
                                <div class="col-lg-3">
                                    <figure>
                                        <img class="img-circle" src="icons/springfield.png" alt="Springfield photo" width="200" height="200">
                                        <figcaption style="text-align:center; width:200px">Springfield</figcaption>
                                    </figure>
                                </div>
                                <div class="col-lg-3">
                                    <figure>
                                        <img class="img-circle" src="icons/smith.png" alt="Smith College photo" width="200" height="200">
                                        <figcaption style="text-align:center; width:200px">Smith College</figcaption>
                                    </figure>
                                </div>
                                <div class="col-lg-3">
                                    <figure>
                                        <img class="img-circle" src="icons/umass.png" alt="UMass photo" width="200" height="200">
                                        <figcaption style="text-align:center; width:200px">UMass Amherst</figcaption>
                                    </figure>
                                </div>
                                <div class="col-lg-3">
                                    <figure>
                                        <img class="img-circle" src="icons/holyokeMall.png" alt="Holyoke Mall photo" width="200" height="200">
                                        <figcaption style="text-align:center; width:200px">Holyoke Mall</figcaption>
                                    </figure>
                                </div>
                            </div>
                            <br>
                            <div class="row" style="text-align:center">
                                <h2 class="section-heading"> ..and more!</h2>
                            </div>
                        </div>
                    </div>


                </div>
            </div>

        </div>
    </div>
    <!-- /.container -->

    <a name="contact"></a>
    <div class="banner">
        <div class="row col-lg-6">
            
            <br><br><br><br>
            <h2>  Connect with RideShare</h2>
            <br><br><br>
            <div class="row">
                <ul class="row list-inline banner-social-buttons">
                    <li>
                        <a href="https://twitter.com/SBootstrap" class="btn btn-default btn-lg"><span class="network-name">Facebook</span></a>
                    </li>
                    <li>
                        <a href="#" class="btn btn-default btn-lg"><span class="network-name">Twitter</span></a>
                    </li>
                </ul>
            </div>
        </div>
        <div>
            <br>
            <br>
            <form class="form" action="MAILTO:mhcrideshare@gmail.com" method="post" enctype="text/plain">
                <div class="control-group">
                    <label class="control-label" for="inputName">Name</label>
                    <div class="controls">
                        <input type="text" id="inputName" placeholder="Your Name">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="inputEmail">Email</label>
                    <div class="controls">
                        <input type="text" id="inputEmail" placeholder="Your Email">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="inputMessage">Message</label>
                    <div class="controls">
                        <textarea id="inputMessage" placeholder="Your Message"></textarea>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <button type="submit" class="btn btn-success">Send Message</button>
                    </div>
                </div>
            </form>
        </div>
        <!-- /.container -->

    </div>

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-inline">
                        <li>
                            <a href="#">Home</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#locations">Locations</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#about">About</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#contact">Contact</a>
                        </li>
                    </ul>
                    <p class="copyright text-muted small">Copyright &copy; RideShare 2015. All Rights Reserved</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>
</html>
