<!--views/pages/profile.ejs-->

<head>
   <% include ../partials/head %>
   <link rel="stylesheet" type="text/css" media="all" href="/css/profile.css">
   <script type="text/javascript" src="/js/jquery-1.10.2.min.js"></script>
</head>
<body>
   <header>
      <% include ../partials/header %>
   </header>

   <main>
      <div id="w">
         <div id="content" class="clearfix">

            <h1>Profile</h1>
            <div id="userphoto"><img src="/icons/avatar.png" alt="default avatar"></div>

            <div style="margin-left: 200px;">
               <p> I am a senior at Mount Holyoke College majoring in Computer Science</p>

               <p class="setting"><span>Name </span> Pragya Bajoria</p>
               <p class="setting"><span>Gender </span> Female </p>
               <p class="setting"><span>School </span> Mount Holyoke College</p>
               <p class="setting"><span>Age </span> 22 </p>
            </div>
         </div><!-- @end #content -->
      </div><!-- @end #w -->
   </main>
   <footer>
      <% include ../partials/footer %>
   </footer>
</body>