<!--views/pages/profile.ejs-->

<head>
   <% include ../partials/head %>
   <link rel="stylesheet" type="text/css" media="all" href="/css/profile.css">
   <script type="text/javascript" src="/js/jquery-1.10.2.min.js"></script>
</head>
<body>
   <header>
      <% include ../partials/header %>
   </header>

   <main>
      <div id="w">
         <div id="content" class="clearfix">

            <h1><%= name %></h1>
            <div id="userphoto"><img src= <%= picture %> alt="default avatar" style="width:100px;height:100px"></div>

            <div style="margin-left: 200px;">
               <p> Bio </p>

               <p class="setting"><span>Name </span> <%= name %> </p>
               <p class="setting"><span>School </span> user.school</p>
               <p class="setting"><span>Email </span> <%= email %> </p>
            </div>
         </div><!-- @end #content -->
      </div><!-- @end #w -->
   </main>
   <footer>
      <% include ../partials/footer %>
   </footer>
</body>