<!-- views/pages/profile.ejs -->
<html>
  <head>
    <title>RideShare | Profile</title>
    <% include ../partials/head %>
  </head>
  <body>
    <header>
      <% include ../partials/header %>
    </header>
    
    <br><br><br>
    <br><br><br>
  <div style="text-align: center">
    <h1><b>Add Profile Information</b></h1><br>   
      <p><em>UID: 12365 </em></p>  

      <!-- User information -->
      <form action="/dashboard" method="get">
        <strong>Name </strong><input type="text" name="fname"><br><br>
        <strong>University </strong><input type="text" name="university"> <br><br>
        <input type="submit" value="Submit Profile Changes">
      </form>
    </div>
      <br><br>

    <footer>
        <% include ../partials/footer %>
    </footer>
  </body>
</html>